* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: #ffffff;
  --GrayishBlue: #e6eff6;
}

body {
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vh;
  background-color: var(--GrayishBlue);
  font-family: "Karla";

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  width: 700px;
  height: 500px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 18px #0000001f;
}

.top {
  padding: 30px;
  width: 700px;
  height: 230px;
  background-color: var(--LightGray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top > h1 {
  color: var(--Cyan);
  margin-bottom: 20px;
  font-size: 25px;
}

.top > h2 {
  color: var(--BrightYellow);
  font-size: 18px;
  margin-bottom: 20px;
}

.top > p {
  color: #afb3bc;
  padding-right: 97px;
}

.bottom {
  display: flex;
  width: 700px;
  height: 270px;
}

.left {
  width: 350px;
  background-color: var(--Cyan);
  padding: 30px;
  border-bottom-left-radius: 10px;
}

.left > h2 {
  color: var(--LightGray);
  margin-bottom: 30px;
  font-size: 18px;
}

.dolar {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.dolar > h3 {
  font-size: 35px;
  color: white;
}

.dolar > p {
  color: #9fdddc;
  margin-left: 10px;
}

.left > p {
  color: var(--LightGray);
  margin-bottom: 30px;
}

.left > button {
  width: 240px;
  height: 45px;
  background-color: var(--BrightYellow);
  color: var(--LightGray);
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 18px #00000015;
}

.right {
  width: 350px;
  background-color: #4abebd;
  padding: 30px;
  border-bottom-right-radius: 10px;
}

.right > h2 {
  color: var(--LightGray);
  margin-bottom: 30px;
}

.right > p {
  color: var(--LightGray);
}
